* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper {
    width: 900px;
    margin: 0 auto;

}

.header {
    padding: 78px 0 0 0;
    margin: 0 0 105px 0;


}

.list-item {
    list-style: none;
    display: inline-block;
    margin: 0 122px 0 0;

}

.nav-list {
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: gray;

}

.article-item {
    list-style: none;
    display: inline-block;
    width: 400px;
    margin: 0 0 135px 0;
    box-sizing: border-box;


}
   

.article-title {
    margin: 0 0 38px 0;

}

.button {
    padding: 37px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gray;
    

}