* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.articles {
    padding: 0 0 70px 0;
}

.wrapper {
    width: 900px;
    margin: 0 auto;

}

.header {
    padding: 75px 0 0 0;
    margin: 0 0 105px 0;
    font-size: 0;
}


.list-item {
    list-style: none;
    display: inline-block;
    margin: 0 100px 0 0;
    font-size: 16px;

}
.list-item-r {
    margin-right: 0;

}

.nav-list {
    text-align: center;
    display: block;
    margin: 0 auto;
    

}
.list-item a:hover {
    color:rgb(3, 169, 244);
}

.nav-link {
    display: block;
    text-decoration: none;
    color: gray;

}
.article-paragraph {
    color: gray;
}

.article-item {
    font-size: 16px;
    list-style: none;
    display: inline-block;
    width: 420px;
    box-sizing: border-box;
    margin: 0 0 135px 0;
    
}
.article-item-r {
   /* margin-right: calc(900 - 400 * 2 - 8px)*/
margin-right: 60px;
}
.article-item-r-d {
    margin-bottom: 0;
}

.article-list {
font-size: 0;
margin-bottom: 55px;

}
.article-text {
    color: grey;

}

.article-title {
    font-size: 30px;
    color: grey;
    margin: 0 0 38px 0;
}
.image-block {
    margin: 0 0 30px 0;
}

button {
    padding: 20px;
    display: block;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    background-color:transparent;
    border: 1px solid rgb(122, 122, 122);
    color: grey;
    font-size: 20px;
    
}
button: hover {
    background-color:rgb(3, 169, 244);
    transform: scale(1.2);
}
.article-paragraph {
    margin: 0 0 30px 0;
}
img {
    list-style: none;
    display: inline-block;
    width: 420px;
    margin: 0 0 0 0;
    box-sizing: border-box;
}