
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.products-item {
    
    width: 255px;
    height: 100%;
    list-style: none;
    float: left;
    margin-right: 30px;
    position: relative;
    
}
.card-name_price {
  position: absolute;
  bottom: 0;
  left: 0;
}
.product-name {
    float: left;
    background-color: #323232;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    height: 40px;
    width: 200px;
    padding-left: 15px;
    padding-top: 12px;  
    
}
.product-price {
    float: right;
    background-color: #8c8c8c;
    color: #ffffff;
    font-size: 18px;
    margin: 0 auto;
   text-align: right;
    height: 40px;
    width: 55px;
    padding-right: 15px;
    padding-top: 12px;
    
}


.products-item:nth-child(n + 5) {
    padding-bottom: 105px;
}
.products-item:nth-child(-n + 4) {
    margin-bottom: 30px;
}
.products-list {
    
    height: auto;
    overflow: hidden;
    
    
}
.products-item:nth-child(4n) {
    margin-right: 0;

}
.products {
    text-transform: uppercase;
    text-align: center;
    color: #555252;
}
.wrapper-products {
    width: 1110px;
    margin: 0 auto;
}
.section-products::after {
    content: "";
    border-bottom: 8px solid #1abc9c;
    display: block;
    width: 160px;
    margin: 0 auto;
    margin-top: 20px;
}
.section-products {
    margin: 0 0 90px 0;
    font-size: 35px;
}

.products-item:hover .product-name {
    background-color: #1abc9c;
}
.products-item:hover .product-price {
    background-color: #7fd9c7;
}

.card-img {
    display: block;
    width: 100%;
    height: auto;
    
}



.card-overlay {
    display: none;
    height: 282px;
    width: 100%;
    border: 10px solid rgba(255, 255, 255, .549);
    background-color: rgba(0, 0, 0, .549);
    
    justify-content: center;
    align-items: center;
    background-clip: padding-box;
    position: absolute;
    top: 0;
    left: 0;

}
.products-item:hover .card-overlay {
    display: flex;
}
.product-button {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  float: left;
  margin-right: 8px;
  
}

.product-button:nth-child(-n+3) {
  margin-bottom: 8px;
}
.product-button:hover {
 background-color: #1abc9c;
} 
.button-magazine_truck:hover {
  background-color: #323232;
}

.button-like_heart {
background-image: url(../img/icons/heart-like.png);
width: 48px;
height: 48px;

}
.button-change_arrows {
background-image: url(../img/icons/change-arrows.png);
width: 48px;
height: 48px;
}
.button-clock {
background-image: url(../img/icons/clock.png);
width: 48px;
height: 48px;
margin: 0;
}
.button-magazine_truck {
background-image: url(../img/icons/magazine_truck.png);
width: 164px;
height: 48px;
margin: 0;
float: left;
text-transform: uppercase;
color: #ffffff;
background-position: 10px center;
position: relative;
}
.add-to_card {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.card-menu_list {
  text-decoration: none;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* из фотошопа
._31 {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  text-align: center;
  position: absolute;
  left: 730.527px;
  top: 1270.461px;
  width: 27px;
  height: 17px;
  z-index: 22;
}




*/
