
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}


.header {  
    width: 1110px;
    margin: 0 auto;
}

img {
    
}
.logo_link {
    text-decoration: none;
    color: #555252;
}

.list-item__logo { 
    color: #555252;
    float: left;
    font-size: 21px;
    margin: 0;
    text-transform: uppercase;
    margin-top: 38px;  
}
.list-item__logo:hover {
    color: #1abc9c;
}

    
.list-item__logo::first-letter {
    color: #1abc9c;
}
.header-nav {
    padding-top: 43px;
    padding-bottom: 38px;

}

.list-item {
    text-transform: uppercase;
    list-style: none;
    float: left;
    margin-right: 35px;
}

.nav-link {
    text-decoration: none;
    color: #555252;
    font-size: 11px;
}

.nav-link:hover {
    color: #1abc9c;
}
.list-item:last-child {
    margin-right: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.nav-list {
    float: right;
}


 


