
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    
}
.header {
    
    width: 1110px;
    margin: 0 auto;

}

img {
    
}
.logo_link {
    text-decoration: none;
    color: #555252;
}

.list-item__logo { 
    color: #555252;
    float: left;
    font-size: 21px;
    margin: 0;
    text-transform: uppercase;
    
}
.list-item__logo:hover {
    color: #1abc9c;
}

    
.list-item__logo::first-letter {
    color: #1abc9c;
}
.header-nav {
    margin-bottom: 105px;
    height: auto;
    overflow: hidden;
}

.list-item {
    
    list-style: none;
    float: left;
    margin: 0 35px 0 0;
    font-size: 10px;
    text-transform: uppercase;
    
}
.list-item:last-child {
    margin: 0;
}


.nav-list {
    float: right;
    height: auto;
    overflow: hidden;
    /*margin: 0 0 105px 0;*/
}
.nav-link {
    color: black;
    display: block;
    text-decoration: none;
    
}


.nav-link:hover {
    color: #1abc9c;
}

.products-item {
    
    width: 255px;
    list-style: none;
    float: left;
    margin-right: 30px;
    /*text-align: center;*/
}
.product-name {
    float: left;
    background-color: #323232;
    color: #ffffff;
    font-size: 15px;
    /*margin: 0 auto;*/
    text-align: left;
    height: 40px;
    width: 200px;
    padding-left: 15px;
    padding-top: 12px;
    
}
.product-price {
    float: right;
    background-color: #8c8c8c;
    color: #ffffff;
    font-size: 15px;
    margin: 0 auto;
   text-align: right;
    height: 40px;
    width: 55px;
    padding-right: 15px;
    padding-top: 12px;
}
.products-item:nth-child(n + 5) {
    margin-bottom: 105px;
}
.products-item:nth-child(-n + 4) {
    margin-bottom: 30px;
}
.products-list {
    
    height: auto;
    overflow: hidden;
    
    
}
.products-item:nth-child(4n) {
    margin-right: 0;

}
.products {
    text-transform: uppercase;
    text-align: center;
    color: #555252;
}
.wrapper-products {
    width: 1110px;
    margin: 0 auto;
}
.section-products::after {
    content: "";
    border-bottom: 8px solid #1abc9c;
    display: block;
    width: 160px;
    margin: 0 auto;
    margin-top: 20px;
}
.section-products {
    margin: 0 0 90px 0;
    font-size: 35px;
}


.section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    margin: 0 0 80px 0;
    color: #555252;
}
.section-title::after {
    content: "";
    border-bottom: 8px solid #1abc9c;
    display: block;
    width: 160px;
    margin: 0 auto;
    margin-top: 20px;
}
.article-list {
    height: auto;
    overflow: hidden;
}
.article-item {
    float: left;
    list-style: none;
    margin-right: 30px;
    margin-bottom: 80px;
}
.article-title {
    width: 350px;
    color: #555252;
    
}
.article-title::after {
    content: "";
    border-bottom: 3px solid #1abc9c;
    display: block;
    width: 135px;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 30px;
}
.article-text {
    width: 350px;
    color: #555252;
    margin-bottom: 20px;
    
}
.article-item:last-child {
    margin: 0;
}
.article-link {
    text-decoration: none;
    padding: 20px 40px;
    background-color: #8c8c8c;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    display: inline-block;
    border: 1px solid rgb(122, 122, 122);
    color: #f3fbf9;
    font-size: 13px;
    border-radius:5px;
    
}
.article-link:hover {
    background-color:#1abc9c;
}
.products-item:hover .product-name {
    background-color: #1abc9c;
}
.products-item:hover .product-price {
    background-color: #7fd9c7;
}
.wrapper-news {
    width: 1110px;
    margin: 0 auto;

}




 


