@import "../css/vars.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}
.container {
    width: 1110px;
    margin: 0 auto;
}


.logo_link {
    text-decoration: none;
    color: var(--font-color);
}

.list-item__logo { 
    color: #555252;
    float: left;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    margin-top: 38px;  
}
  
.list-item__logo::first-letter {
    color: #1abc9c;
}
.header-nav {
    padding-top: 43px;
    padding-bottom: 38px;

}

.list-item {
    text-transform: uppercase;
    list-style: none;
    float: left;
    margin-right: 35px;
}

.nav-link {
    text-decoration: none;
    color: #555252;
    font-size: 14px;
    list-style: none;
}

.nav-link:hover {
    color: #1abc9c;
}
.list-item:last-child {
    margin-right: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.nav-list {
    float: right;
}


.card-list {
    padding-top: 82px;
}
.card-list__item {
    float: left;
    text-decoration: none;
    list-style: none;
    background-color: #e9f0fd;
    margin-right: 30px;

}
.card-list__item:last-child {
    margin: 0;
}
.card-menu__list {
    text-decoration: none;
    list-style: none;
}
img {
    border-style: none;
}
.banner-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.banner {
    position: relative; 
}
.banner::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.52);/*затемнение баннера*/
}
.left-button_banner {
    background-image: url(../img/icons/left_arrow_icon.png);
    left: 0;
}
.right-button_banner {
    background-image: url(../img/icons/arrow_right_icon.png);
    right: 0;
}
.button-banner {
    display: block;
    width: 100px;
    height: 105px;
    position: absolute;
    /*color: rgb(255, 255, 255);*/
    top: 50%;
    background-color: rgb(26, 188, 156);
    transform: translateX(360%) translateY(-50%);
}


.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
}

.collection-section-wrapper {
    background-color: #e9f0fd;
    padding-bottom: 30px;
    
}
.colection-section__title {
    text-transform: uppercase;
    text-align: center;
    color: #515151;
    margin: 0 auto;
    padding-top: 100px;
}
.colection-section__title::after {
    content: "";
    border-bottom: 8px solid #1abc9c;
    display: block;
    width: 164px;
    margin: 0 auto;
    margin-top: 32px;
    
} 
.h2 {
    list-style: none;
    text-decoration: none;
}
.a {
    list-style: none;
    text-decoration: none;
}
.card-link {
    /*list-style: none;*/
    text-decoration: none;

}
.card-name {
    color: #ffffff;
    background-color: #323232;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
}
.card-price {
    float: right;
    /*padding-right: 30px;*/
    color: #ffffff;
    background-color: #8c8c8c;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}


.footer-wrapper {
    background-color: #323232;
    
    
}
.footer-container {
    font-size: 16px;
    text-align: center;
    color: rgb(254, 254, 254);
    padding: 37px 0; 
    
}

 


